In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel(r'D:\lms\2024_10_29_lms\LMS-FSA\quiz_bank\static\excel\MCQ.xlsx')
df

,question,points,correct,options[a],options[b],options[c],options[d],options[e],options[f],options[g]
0,Test cases are designed based on,1,c,Software requirement specification,Detail Design document,A & B and test plan document,A & B,NaN,NaN,NaN
1,A good test document should be,1,c,Follow requirement closely,Easy to maintain and update,"A, B and easy for others to understand",A & B,NaN,NaN,NaN
2,1+1=?,1,"a,c",2,3,4 minus 2,5,NaN,NaN,NaN
3,10*10=?,1,"b,c,d",10,100,sqrt(10000),cube root of 1000000,NaN,NaN,NaN

In [4]:
df.fillna('', inplace=True)
df

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_2276\432448108.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('', inplace=True)

,question,points,correct,options[a],options[b],options[c],options[d],options[e],options[f],options[g]
0,Test cases are designed based on,1,c,Software requirement specification,Detail Design document,A & B and test plan document,A & B,,,
1,A good test document should be,1,c,Follow requirement closely,Easy to maintain and update,"A, B and easy for others to understand",A & B,,,
2,1+1=?,1,"a,c",2,3,4 minus 2,5,,,
3,10*10=?,1,"b,c,d",10,100,sqrt(10000),cube root of 1000000,,,

In [5]:
for i, (index, row) in enumerate(df.iterrows()):
    if index == 8:
        options = [f'options[{i}]' for i in ['a', 'b', 'c', 'd', 'e', 'f', 'g']]
        question = str(row.get('question')).strip()
        answer = pd.DataFrame(row.get(options))
        true_answer = str(row.get('correct')).strip()
        print(question, true_answer, sep='\n')
        answer = answer.loc[answer[i] != '']
        answer_list = answer[i].to_list()
        answer_list = list(map(lambda x : x.strip(), answer_list))
        # alter_key_list = [(key==true_answer) for key in answer_list]
        alter_key_list = list(map(lambda x: x == true_answer, answer_list))
        print(answer_list, sep='\n')
        print(alter_key_list)

In [9]:
for i, (index, row) in enumerate(df.iterrows()):
    options = [f'options[{i}]' for i in ['a', 'b', 'c', 'd', 'e', 'f', 'g']]
    question = str(row.get('question'))
    answer = pd.DataFrame(row.get(options))
    true_answer = str(row.get('correct')).split(',')
    # print(question, answer, true_answer, sep='\n')
    answer = answer.loc[answer[i] != '']
    answer_list = answer[i].to_list()
    print(true_answer)
    for a in answer_list:
        print(a)
    # print(answer_list, key_list, sep='\n')

['c']
Software requirement specification
 Detail Design document
A & B and test plan document
A & B
['c']
Follow requirement closely
Easy to maintain and update
A, B and easy for others to understand
A & B
['a', 'c']
2
3
4 minus 2
5
['b', 'c', 'd']
10
100
sqrt(10000)
cube root of 1000000

In [21]:
from_option_to_index = dict(list(zip(['a', 'b', 'c', 'd', 'e', 'f', 'g'], [i for i in range(0, 7)])))
for i, (index, row) in enumerate(df.iterrows()):
    options = [f'options[{i}]' for i in ['a', 'b', 'c', 'd', 'e', 'f', 'g']]
    question = str(row.get('question'))
    answer = pd.DataFrame(row.get(options))
    points = int(str(row.get('points')).strip())
    true_answer = str(row.get('correct')).split(',')
    # print(question, answer, true_answer, sep='\n')
    answer = answer.loc[answer[i] != '']
    answer_list = answer[i].to_list()
    transtated_key = [answer_list[from_option_to_index[option]] for option in true_answer]
    print(question)
    print(true_answer)
    print(answer_list)
    print(transtated_key)
    print(points)
    # print(answer_list, key_list, sep='\n')

Test cases are designed based on
['c']
['Software requirement specification', ' Detail Design document', 'A & B and test plan document', 'A & B']
['A & B and test plan document']
1
A good test document should be
['c']
['Follow requirement closely', 'Easy to maintain and update', 'A, B and easy for others to understand', 'A & B']
['A, B and easy for others to understand']
1
1+1=?
['a', 'c']
[2, 3, '4 minus 2', 5]
[2, '4 minus 2']
1
10*10=?
['b', 'c', 'd']
[10, 100, 'sqrt(10000)', 'cube root of 1000000']
[100, 'sqrt(10000)', 'cube root of 1000000']
1

In [12]:
from_option_to_index = dict(enumerate(['a', 'b', 'c', 'd', 'e', 'f', 'g'], start=1))
from_option_to_index

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

In [17]:

dict(list(zip(['a', 'b', 'c', 'd', 'e', 'f', 'g'], [i for i in range(1, 8)])))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7}

In [26]:
print(answer_list)
print(transtated_key)
answer_list = [str(item) for item in answer_list]
answer_list = list(map(lambda x : x.strip(), answer_list))
transtated_key = [str(item) for item in transtated_key]
key_list = [i in transtated_key for i in answer_list]
print(key_list)

['10', '100', 'sqrt(10000)', 'cube root of 1000000']
[100, 'sqrt(10000)', 'cube root of 1000000']
[False, True, True, True]

In [32]:
df = pd.read_excel(r'D:\lms\2024_10_29_lms\LMS-FSA\quiz_bank\static\excel\TF.xlsx')
df

  question  points correct  options[a]  options[b]
0    1+1=2       1       a        True       False
1    2+2=5       1       b        True       False

In [33]:
from_option_to_index = dict(list(zip(['a', 'b'], [i for i in range(0, 2)])))
for i, (index, row) in enumerate(df.iterrows()):
    options = [f'options[{i}]' for i in ['a', 'b']]
    question = str(row.get('question'))
    answer = pd.DataFrame(row.get(options))
    points = int(str(row.get('points')).strip())
    true_answer = str(row.get('correct'))
    # print(question, answer, true_answer, sep='\n')
    answer = answer.loc[answer[i] != '']
    answer_list = answer[i].to_list()
    transtated_key = [answer_list[from_option_to_index[option]] for option in true_answer]
    print(question)
    print(true_answer)
    print(answer_list)
    print(transtated_key)
    print(points)
    # print(answer_list, key_list, sep='\n')

1+1=2
a
[True, False]
[True]
1
2+2=5
b
[True, False]
[False]
1

In [34]:
print(answer_list)
print(transtated_key)
answer_list = [str(item) for item in answer_list]
answer_list = list(map(lambda x : x.strip(), answer_list))
transtated_key = [str(item) for item in transtated_key]
key_list = [i in transtated_key for i in answer_list]
print(key_list)

[True, False]
[False]
[False, True]

In [35]:
df = pd.read_excel(r'D:\lms\2024_10_29_lms\LMS-FSA\quiz_bank\static\excel\TEXT.xlsx')
df

  question  correct
0     1+1=        2
1   100/2=       50

In [36]:
for i, (index, row) in enumerate(df.iterrows()):
    question = str(row.get('question'))
    true_answer = str(row.get('correct'))
    print(question)
    print(true_answer)

1+1=
2
100/2=
50